.navbar{
    height: 5rem;
    width: auto;    
}

.navbar_container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: end;
    width: 100vh;
}



.nav_links{
    margin-right: 100px;
    height: 4rem;
    align-items: center;
    justify-items: center;
    display: flex;
    list-style: none;
}

.nav_pic{
    height: 2rem;
    width: 2rem;
    border-radius: 2rem
}

.user{
    display: flex;
    align-items: center;
}

.text-d{
    color: red;
}